# Questions for Data Project: 
If TEIS had used the “New Business Rules” for calculating ECO data for children with BDI for entrance and exit within the 2023-24 dataset, how would that have impacted the federal reporting? 
Use new business rules to recalculate ECO data for children with BDI-2 or BDI-3 as entrance assessment
Re-calculate progress categories and summary statements for entire dataset

TEIS noted a dramatic increase in the number of children in progress category A using their business rules for 2023-24. What are some demographic qualities of the children in this progress category: 
Point of Entry office (POE)
Length of time in services
Length between assessment and exit
Length between entrance and exit assessments.
Difference between entrance and exit assessment instruments.
Age at assessment/exit

In [2]:
import pandas as pd

In [3]:
bdi_2_df = pd.read_csv(r'C:\Users\sabri\Documents\NSS DA13\Python\projects\teis-tosabrina\data\BDI2_scores.csv')
bdi_2_df

C:\Users\sabri\AppData\Local\Temp\ipykernel_11200\927066236.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  bdi_2_df = pd.read_csv(r'C:\Users\sabri\Documents\NSS DA13\Python\projects\teis-tosabrina\data\BDI2_scores.csv')

,StudentID,studentAssessmentID,resultStudentDomainID,Student TEIDS ID,domainID,domainText,ScoreTypeID,ScoreTypeText,StaffExternalID,testDate,...,AESign,isSSRequired,stdDevScore1,stdDevScore2,stdDevScore3,NCESign,totalCSS,totalCSSMin,totalCSSMax,NormType
0,2224693,8625078,138104116,52101,7,Self-Care,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,1.0,NaN,NaN,NaN,NaN,322.0,301.0,343.0,2
1,2224693,8625078,138104117,52101,10,Adult Interaction,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,1.0,NaN,NaN,NaN,NaN,413.0,403.0,423.0,2
2,2224693,8625078,138104118,52101,12,Self-Concept and Social Role,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,1.0,NaN,NaN,NaN,NaN,365.0,355.0,375.0,2
3,2224693,8625078,138104119,52101,14,Receptive Communication,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,1.0,NaN,NaN,NaN,NaN,343.0,333.0,353.0,2
4,2224693,8625078,138104120,52101,15,Expressive Communication,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,1.0,NaN,NaN,NaN,NaN,288.0,267.0,309.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325681,2319431,8761874,140602545,NaN,13,Communication,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,<,381.0,373.0,388.0,2
325682,2319431,8761874,140602546,NaN,16,Motor,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,427.0,420.0,433.0,2
325683,2319431,8761874,140602547,NaN,19,Perceptual Motor,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
325684,2319431,8761874,140602548,NaN,20,Cognitive,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,433.0,424.0,441.0,2
325685,2319431,8761874,140602549,NaN,22,Reasoning and Academic Skills,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [4]:
bdi_2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325686 entries, 0 to 325685
Data columns (total 35 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   StudentID              325686 non-null  int64
 1   studentAssessmentID    325686 non-null  int64
 2   resultStudentDomainID  325686 non-null  int64
 3   Student TEIDS ID       318468 non-null  object
 4   domainID               325686 non-null  int64
 5   domainText             325686 non-null  object
 6   ScoreTypeID            187216 non-null  float64
 7   ScoreTypeText          187216 non-null  object
 8   StaffExternalID        174506 non-null  float64
 9   testDate               198348 non-null  object
 10  lastUpdateDate         36895 non-null   object
 11  rawScore               277622 non-null  float64
 12  CompleteStatus         325686 non-null  int64
 13  isSpanish              116212 non-null  float64
 14  isSpanishIO            36884 non-null   float64
 15  scaledScore            277610 non-null  float64
 16  DQScore                90424 non-null   float64
 17  PRScore                277610 non-null  float64
 18  Ci95Min                90424 non-null   float64
 19  Ci95Max                90424 non-null   float64
 20  NceScore               277610 non-null  float64
 21  TScore                 277610 non-null  float64
 22  ZScore                 277610 non-null  float64
 23  PRSign                 21419 non-null   object
 24  AEScore                187187 non-null  float64
 25  AESign                 13566 non-null   object
 26  isSSRequired           325681 non-null  float64
 27  stdDevScore1           12 non-null      float64
 28  stdDevScore2           12 non-null      float64
 29  stdDevScore3           12 non-null      float64
 30  NCESign                30320 non-null   object
 31  totalCSS               277610 non-null  float64
 32  totalCSSMin            277396 non-null  float64
 33  totalCSSMax            277396 non-null  float64
 34  NormType               325686 non-null  int64
dtypes: float64(21), int64(6), object(8)
memory usage: 87.0+ MB

In [5]:
bdi_3_df = pd.read_csv(r'C:\Users\sabri\Documents\NSS DA13\Python\projects\teis-tosabrina\data\BDI3_scores.csv')
bdi_3_df

C:\Users\sabri\AppData\Local\Temp\ipykernel_11200\2235257767.py:1: DtypeWarning: Columns (9,21) have mixed types. Specify dtype option on import or set low_memory=False.
  bdi_3_df = pd.read_csv(r'C:\Users\sabri\Documents\NSS DA13\Python\projects\teis-tosabrina\data\BDI3_scores.csv')

,Last Name,First Name,Gender,Date of Birth,Location - Root Level (PC),Location - Root Level (AH),Location - Sub Level 1,Location - Sub Level 2,Location - Sub Level 3,Child ID,...,Cognitive-Perception and Concepts RS,Cognitive-Perception and Concepts SS,Cognitive-Perception and Concepts PR,Cognitive-Perception and Concepts AE,Cognitive-Perception and Concepts RDI,Cognitive-Perception and Concepts CSS,Cognitive-Perception and Concepts CSS 90%,Cognitive-Perception and Concepts Z-Score,Cognitive-Perception and Concepts T-Score,Cognitive-Perception and Concepts NCE
0,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Greater Nashville,NaN,NaN,474074,...,13.0,4.0,2,25,Jan-90,464.0,450 - 479,2.00,30.0,8
1,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Greater Nashville,NaN,NaN,474186,...,24.0,8.0,25,40,68/90,510.0,502 - 517,0.67,43.0,36
2,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Upper Cumberland,NaN,NaN,474641,...,26.0,9.0,37,42,77/90,514.0,507 - 522,0.33,47.0,43
3,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Southwest,NaN,NaN,474848,...,17.0,6.0,9,32,25/90,487.0,476 - 497,1.33,37.0,22
4,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,South Central,NaN,NaN,474967,...,12.0,3.0,1,22,Jan-90,451.0,429 - 473,2.33,27.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34974,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Memphis Delta,NaN,NaN,NaN,...,10.0,4.0,2,15,Feb-90,426.0,408 - 444,2.00,30.0,8
34975,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Southeast Tennessee,NaN,NaN,NaN,...,10.0,4.0,2,15,Feb-90,426.0,408 - 444,2.00,30.0,8
34976,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,East Tennessee,NaN,NaN,NaN,...,11.0,5.0,5,18,Feb-90,437.0,421 - 453,1.67,33.0,15
34977,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,First Tennessee,NaN,NaN,NaN,...,9.0,8.0,25,12,58/90,411.0,392 - 431,0.67,43.0,36
34978,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,East Tennessee,NaN,NaN,5777288,...,12.0,8.0,25,22,66/90,451.0,429 - 473,0.67,43.0,36

In [6]:
bdi_3_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34979 entries, 0 to 34978
Columns: 228 entries, Last Name to Cognitive-Perception and Concepts NCE
dtypes: float64(119), object(109)
memory usage: 60.8+ MB

In [7]:
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

#This code would not work bc data size is too large & will crash notebook**

In [8]:
eco_df = pd.read_csv(r'C:\Users\sabri\Documents\NSS DA13\Python\projects\teis-tosabrina\data\ECO_ Exit23_24 .csv')
eco_df

C:\Users\sabri\AppData\Local\Temp\ipykernel_11200\2583425347.py:1: DtypeWarning: Columns (89,93,94,95,98,102,106,107,108,109,110,128,129,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  eco_df = pd.read_csv(r'C:\Users\sabri\Documents\NSS DA13\Python\projects\teis-tosabrina\data\ECO_ Exit23_24 .csv')

,DISTRICT,CHILD_ID,Child ID_ Assessement point,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,...,BDI-2\nEntry SOCIAL_SCALE,BDI-2\nEntry KNOWLEDGE_SCALE,BDI-2\nEntry APPROPRIATE_ACTION_SCALE,BDI2 Entrance S/E\nStd Dev (Zscore),BDI2 Entrance\nCommunication Std Dev. (Z Score),BDI2 Entrance\nCognition Std Dev. (Z Score),BDI2 Entrance\nK/S\nStd Dev (Zscore),BDI2 Entrance\nAdaptive Std Dev (Zscore),BDI2 Entrance\nMotor Std Dev (Zscore),BDI2 Entrance\nA/B\nStd Dev (Zscore)
0,GN,473991,NaN,1/7/2020,1.0,1.0,1.0,12/27/2022,7.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GN,474186,NaN,2/13/2020,1.0,1.0,1.0,10/26/2023,7.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ET,474575,NaN,1/17/2020,3.0,5.0,4.0,7/29/2020,3.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NW,474623,NaN,1/22/2019,3.0,1.0,2.0,12/16/2022,4.0,4.0,...,3.0,6.0,2.0,-1.8,-1.27,-1.33,-1.30,-2.67,-1.67,-2.17
4,SW,474848,NaN,7/9/2021,3.0,3.0,6.0,8/4/2023,7.0,7.0,...,3.0,1.0,6.0,-2.0,-3.00,-2.47,-2.74,-1.67,-0.67,-1.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,SC,579717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9995,SC,579729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,ET,580243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,FT,580375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,MD,580840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#Merge BDI 2 and BDI 3:
bdi_merge = pd.merge(bdi_2_df, bdi_3_df, left_on = 'Student TEIDS ID', right_on='TEIDS Child ID', how='outer')
bdi_merge

,StudentID,studentAssessmentID,resultStudentDomainID,Student TEIDS ID,domainID,domainText,ScoreTypeID,ScoreTypeText,StaffExternalID,testDate,...,Cognitive-Perception and Concepts RS,Cognitive-Perception and Concepts SS,Cognitive-Perception and Concepts PR,Cognitive-Perception and Concepts AE,Cognitive-Perception and Concepts RDI,Cognitive-Perception and Concepts CSS,Cognitive-Perception and Concepts CSS 90%,Cognitive-Perception and Concepts Z-Score,Cognitive-Perception and Concepts T-Score,Cognitive-Perception and Concepts NCE
0,2224693.0,8625078.0,138104116.0,52101,7.0,Self-Care,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2224693.0,8625078.0,138104117.0,52101,10.0,Adult Interaction,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2224693.0,8625078.0,138104118.0,52101,12.0,Self-Concept and Social Role,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2224693.0,8625078.0,138104119.0,52101,14.0,Receptive Communication,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2224693.0,8625078.0,138104120.0,52101,15.0,Expressive Communication,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2665874,2319431.0,8761874.0,140602549.0,NaN,22.0,Reasoning and Academic Skills,NaN,NaN,NaN,NaN,...,10.0,4.0,2,15,Feb-90,426.0,408 - 444,2.00,30.0,8
2665875,2319431.0,8761874.0,140602549.0,NaN,22.0,Reasoning and Academic Skills,NaN,NaN,NaN,NaN,...,10.0,4.0,2,15,Feb-90,426.0,408 - 444,2.00,30.0,8
2665876,2319431.0,8761874.0,140602549.0,NaN,22.0,Reasoning and Academic Skills,NaN,NaN,NaN,NaN,...,11.0,5.0,5,18,Feb-90,437.0,421 - 453,1.67,33.0,15
2665877,2319431.0,8761874.0,140602549.0,NaN,22.0,Reasoning and Academic Skills,NaN,NaN,NaN,NaN,...,9.0,8.0,25,12,58/90,411.0,392 - 431,0.67,43.0,36
2665878,2319431.0,8761874.0,140602549.0,NaN,22.0,Reasoning and Academic Skills,NaN,NaN,NaN,NaN,...,12.0,8.0,25,22,66/90,451.0,429 - 473,0.67,43.0,36

In [10]:
bdi_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2665879 entries, 0 to 2665878
Columns: 263 entries, StudentID to Cognitive-Perception and Concepts NCE
dtypes: float64(146), object(117)
memory usage: 5.2+ GB

In [11]:
print(bdi_3_df['Child ID'].dtypes)

object

In [12]:
print(eco_df['CHILD_ID'].dtypes)

int64

In [13]:
#Change data type in BDI 3
#bdi_3_df['Child ID'].astype(int)

In [14]:
#ISSUE: Merge b/t BDI 3 and ECO tables not working bc of diff data type
#bdi_3_eco = pd.merge(bdi_3_df, eco_df, left_on= 'Child ID', right_on= 'CHILD_ID', how='outer')
#bdi_3_eco

In [15]:
#Combine BDI 2, BDI 3, and ECO data 
#combined_all = pd.merge(bdi_merge, eco_df, left_on= 'Student TEIDS ID', right_on= 'CHILD_ID', how='outer')
#ISSUE: Merge not loading

In [35]:
bdi_2_data = bdi_2_df[['Student TEIDS ID','domainID','domainText','testDate','rawScore','scaledScore','DQScore','PRScore','NceScore','TScore','ZScore','AEScore']]
bdi_2_data

,Student TEIDS ID,domainID,domainText,testDate,rawScore,scaledScore,DQScore,PRScore,NceScore,TScore,ZScore,AEScore
0,52101,7,Self-Care,2/25/2022,2.0,6.0,NaN,9.0,22.0,37.0,-1.33,0.0
1,52101,10,Adult Interaction,2/25/2022,14.0,15.0,NaN,95.0,85.0,67.0,1.67,5.0
2,52101,12,Self-Concept and Social Role,2/25/2022,6.0,11.0,NaN,63.0,57.0,53.0,0.33,2.0
3,52101,14,Receptive Communication,2/25/2022,4.0,6.0,NaN,9.0,22.0,37.0,-1.33,0.0
4,52101,15,Expressive Communication,2/25/2022,1.0,4.0,NaN,2.0,8.0,30.0,-2.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
325681,NaN,13,Communication,NaN,24.0,3.0,56.0,0.2,1.0,21.0,-2.93,NaN
325682,NaN,16,Motor,NaN,70.0,15.0,88.0,21.0,33.0,42.0,-0.80,NaN
325683,NaN,19,Perceptual Motor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
325684,NaN,20,Cognitive,NaN,32.0,14.0,80.0,9.0,22.0,37.0,-1.33,NaN
325685,NaN,22,Reasoning and Academic Skills,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
#Condense BDI 2 table to relevant columns:
revised_bdi2 = bdi_2_df[['Student TEIDS ID','domainID','domainText','testDate','rawScore','DQScore','ZScore']]
revised_bdi2

,Student TEIDS ID,domainID,domainText,testDate,rawScore,DQScore,ZScore
0,52101,7,Self-Care,2/25/2022,2.0,NaN,-1.33
1,52101,10,Adult Interaction,2/25/2022,14.0,NaN,1.67
2,52101,12,Self-Concept and Social Role,2/25/2022,6.0,NaN,0.33
3,52101,14,Receptive Communication,2/25/2022,4.0,NaN,-1.33
4,52101,15,Expressive Communication,2/25/2022,1.0,NaN,-2.00
...,...,...,...,...,...,...,...
325681,NaN,13,Communication,NaN,24.0,56.0,-2.93
325682,NaN,16,Motor,NaN,70.0,88.0,-0.80
325683,NaN,19,Perceptual Motor,NaN,NaN,NaN,NaN
325684,NaN,20,Cognitive,NaN,32.0,80.0,-1.33
325685,NaN,22,Reasoning and Academic Skills,NaN,NaN,NaN,NaN

In [37]:
#Pull relevant columns from BDI 3 table:
bdi3_new_columns = bdi_3_df[['Motor-Gross Motor RS', 'Adaptive-Self Care RS', 'Motor-Fine Motor RS', 'Motor-Perceptual Motor RS', 'Adaptive-Personal Responsibility RS', 'Social Emotional-Adult Interaction RS', 'Social Emotional-Peer Interaction RS','Social Emotional-Self Concept / Social Role RS','Communication-Receptive Communication RS','Communication-Expressive Communication RS','Cognitive-Attention and Memory RS','Cognitive-Reasoning / Academic Skills RS','Cognitive-Perception and Concepts RS', 'TEIDS Child ID', 'Motor-Fine Motor Date of Testing', 'BDI-3 Total Developmental Quotient', 'Adaptive Z-Score', 'Social-Emotional Z-Score', 'Communication Z-Score', 'Motor Z-Score', 'Cognitive Z-Score', 'Adaptive-Self Care Z-Score', 'Adaptive-Personal Responsibility Z-Score', 'Social Emotional-Adult Interaction Z-Score', 'Social Emotional-Peer Interaction Z-Score', 'Social Emotional-Self Concept / Social Role Z-Score', 'Communication-Receptive Communication Z-Score', 'Communication-Expressive Communication Z-Score', 'Motor-Gross Motor Z-Score', 'Motor-Fine Motor Z-Score', 'Motor-Perceptual Motor Z-Score', 'Cognitive-Attention and Memory Z-Score', 'Cognitive-Reasoning / Academic Skills Z-Score', 'Cognitive-Perception and Concepts Z-Score', 'Cognitive-Perception and Concepts Date of Testing']]

In [38]:
#Condense ECO table for relevant columns:
revised_eco = eco_df[['CHILD_ID','ECO_Entry_DATE','ECO_Exit_DATE','Initial IFSP Date','Exit Date \nOr end of FY','TEIDS\nECO_Entry_DATE','AEPSi\nECO_Entry_DATE','AEPSi \nECO_Exit_DATE','BDI 3\nECO_Entry_DATE','BDI 3\nECO_Exit_DATE','BDI2 Entry Date']]
revised_eco.head(10)

,CHILD_ID,ECO_Entry_DATE,ECO_Exit_DATE,Initial IFSP Date,Exit Date \nOr end of FY,TEIDS\nECO_Entry_DATE,AEPSi\nECO_Entry_DATE,AEPSi \nECO_Exit_DATE,BDI 3\nECO_Entry_DATE,BDI 3\nECO_Exit_DATE,BDI2 Entry Date
0,473991,1/7/2020,12/27/2022,1/7/2020,9/8/2023,1/7/2020,2/18/2020,11/14/2022,NaN,NaN,NaN
1,474186,2/13/2020,10/26/2023,1/14/2020,11/2/2023,2/13/2020,2/13/2020,10/20/2022,NaN,10/26/2023,NaN
2,474575,1/17/2020,7/29/2020,1/17/2020,9/5/2023,1/17/2020,2/12/2020,1/24/2023,NaN,NaN,NaN
3,474623,1/22/2019,12/16/2022,1/22/2020,9/21/2023,1/22/2019,NaN,NaN,NaN,NaN,1/8/2020
4,474848,7/9/2021,8/4/2023,7/9/2021,12/13/2023,7/9/2021,7/23/2021,11/4/2022,NaN,8/4/2023,6/22/2021
5,474967,1/31/2020,7/31/2023,1/31/2020,10/6/2023,1/31/2020,NaN,NaN,NaN,7/31/2023,1/7/2020
6,475636,9/3/2020,7/19/2023,9/3/2020,5/17/2024,9/3/2020,NaN,NaN,NaN,7/19/2023,NaN
7,475907,2/20/2020,11/15/2023,2/20/2020,11/28/2023,2/20/2020,7/2/2020,12/21/2022,NaN,11/15/2023,1/17/2020
8,476193,2/24/2020,2/27/2023,2/24/2020,11/1/2023,2/24/2020,6/15/2020,6/27/2022,NaN,2/27/2023,1/23/2020
9,476572,7/24/2020,12/21/2022,7/24/2020,10/18/2023,7/24/2020,8/26/2020,12/21/2022,NaN,NaN,1/30/2020

In [62]:
revised_eco.dropna(subset=['BDI 3\nECO_Exit_DATE'], inplace=True)
revised_eco

C:\Users\sabri\AppData\Local\Temp\ipykernel_11200\4129343269.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  revised_eco.dropna(subset=['BDI 3\nECO_Exit_DATE'], inplace=True)

,CHILD_ID,ECO_Entry_DATE,ECO_Exit_DATE,Initial IFSP Date,Exit Date \nOr end of FY,TEIDS\nECO_Entry_DATE,AEPSi\nECO_Entry_DATE,AEPSi \nECO_Exit_DATE,BDI 3\nECO_Entry_DATE,BDI 3\nECO_Exit_DATE,BDI2 Entry Date,Entry Test Date
1,474186,2/13/2020,10/26/2023,1/14/2020,11/2/2023,2/13/2020,2/13/2020,10/20/2022,NaN,10/26/2023,NaN,NaN
4,474848,7/9/2021,8/4/2023,7/9/2021,12/13/2023,7/9/2021,7/23/2021,11/4/2022,NaN,8/4/2023,6/22/2021,6/22/2021
5,474967,1/31/2020,7/31/2023,1/31/2020,10/6/2023,1/31/2020,NaN,NaN,NaN,7/31/2023,1/7/2020,1/7/2020
6,475636,9/3/2020,7/19/2023,9/3/2020,5/17/2024,9/3/2020,NaN,NaN,NaN,7/19/2023,NaN,NaN
7,475907,2/20/2020,11/15/2023,2/20/2020,11/28/2023,2/20/2020,7/2/2020,12/21/2022,NaN,11/15/2023,1/17/2020,1/17/2020
...,...,...,...,...,...,...,...,...,...,...,...,...
9638,569363,12/14/2023,10/30/2024,1/26/2024,6/24/2024,NaN,NaN,NaN,12/14/2023,10/30/2024,NaN,12/14/2023
9646,569449,12/21/2023,10/31/2024,1/25/2024,6/30/2024,NaN,NaN,NaN,12/21/2023,10/31/2024,NaN,12/21/2023
9688,570207,NaN,NaN,2/2/2024,6/30/2024,NaN,NaN,NaN,NaN,10/24/2024,NaN,NaN
9692,570254,1/4/2024,10/23/2024,2/12/2024,6/30/2024,NaN,NaN,NaN,1/4/2024,10/23/2024,NaN,1/4/2024
9714,570632,1/11/2024,10/29/2024,2/7/2024,6/30/2024,NaN,NaN,NaN,1/11/2024,10/29/2024,NaN,1/11/2024

In [80]:
#Drop nulls from ECO table
no_nulls_eco_exit = revised_eco.dropna(axis=0, subset=['BDI 3\nECO_Exit_DATE'])
no_nulls_eco_exit

,CHILD_ID,ECO_Entry_DATE,ECO_Exit_DATE,Initial IFSP Date,Exit Date \nOr end of FY,TEIDS\nECO_Entry_DATE,AEPSi\nECO_Entry_DATE,AEPSi \nECO_Exit_DATE,BDI 3\nECO_Entry_DATE,BDI 3\nECO_Exit_DATE,BDI2 Entry Date,Entry Test Date
1,474186,2/13/2020,10/26/2023,1/14/2020,11/2/2023,2/13/2020,2/13/2020,10/20/2022,NaN,10/26/2023,NaN,NaN
4,474848,7/9/2021,8/4/2023,7/9/2021,12/13/2023,7/9/2021,7/23/2021,11/4/2022,NaN,8/4/2023,6/22/2021,6/22/2021
5,474967,1/31/2020,7/31/2023,1/31/2020,10/6/2023,1/31/2020,NaN,NaN,NaN,7/31/2023,1/7/2020,1/7/2020
6,475636,9/3/2020,7/19/2023,9/3/2020,5/17/2024,9/3/2020,NaN,NaN,NaN,7/19/2023,NaN,NaN
7,475907,2/20/2020,11/15/2023,2/20/2020,11/28/2023,2/20/2020,7/2/2020,12/21/2022,NaN,11/15/2023,1/17/2020,1/17/2020
...,...,...,...,...,...,...,...,...,...,...,...,...
9638,569363,12/14/2023,10/30/2024,1/26/2024,6/24/2024,NaN,NaN,NaN,12/14/2023,10/30/2024,NaN,12/14/2023
9646,569449,12/21/2023,10/31/2024,1/25/2024,6/30/2024,NaN,NaN,NaN,12/21/2023,10/31/2024,NaN,12/21/2023
9688,570207,NaN,NaN,2/2/2024,6/30/2024,NaN,NaN,NaN,NaN,10/24/2024,NaN,NaN
9692,570254,1/4/2024,10/23/2024,2/12/2024,6/30/2024,NaN,NaN,NaN,1/4/2024,10/23/2024,NaN,1/4/2024
9714,570632,1/11/2024,10/29/2024,2/7/2024,6/30/2024,NaN,NaN,NaN,1/11/2024,10/29/2024,NaN,1/11/2024

In [76]:
#Jonathan's Code (New Columns w/ date of test):
bdi_3_df['Cognitive-Perception and Concepts Date of Testing'] = pd.to_datetime(bdi_3_df['Cognitive-Perception and Concepts Date of Testing'])
bdi_3_df['Cognitive-Perception and Concepts Date of Testing'].reset_index()

       index Cognitive-Perception and Concepts Date of Testing
0          0                                        2023-09-13
1          1                                        2023-10-26
2          2                                        2023-07-31
3          3                                        2023-08-04
4          4                                        2023-07-31
...      ...                                               ...
34974  34974                                        2023-11-29
34975  34975                                        2023-12-01
34976  34976                                        2023-12-04
34977  34977                                        2023-12-06
34978  34978                                        2024-04-09

[34979 rows x 2 columns]

In [102]:
#Kanthi's Code 
no_nulls_eco_exit['Entry Test Date'] = no_nulls_eco_exit['BDI 3\nECO_Entry_DATE'].where(no_nulls_eco_exit['BDI 3\nECO_Entry_DATE'] == no_nulls_eco_exit['ECO_Entry_DATE'], other = no_nulls_eco_exit['BDI2 Entry Date']).to_frame()

In [108]:
no_nulls_eco_exit

,CHILD_ID,ECO_Entry_DATE,ECO_Exit_DATE,Initial IFSP Date,Exit Date \nOr end of FY,TEIDS\nECO_Entry_DATE,AEPSi\nECO_Entry_DATE,AEPSi \nECO_Exit_DATE,BDI 3\nECO_Entry_DATE,BDI 3\nECO_Exit_DATE,BDI2 Entry Date,Entry Test Date
1,474186,2/13/2020,10/26/2023,1/14/2020,11/2/2023,2/13/2020,2/13/2020,10/20/2022,NaN,10/26/2023,NaN,NaN
4,474848,7/9/2021,8/4/2023,7/9/2021,12/13/2023,7/9/2021,7/23/2021,11/4/2022,NaN,8/4/2023,6/22/2021,6/22/2021
5,474967,1/31/2020,7/31/2023,1/31/2020,10/6/2023,1/31/2020,NaN,NaN,NaN,7/31/2023,1/7/2020,1/7/2020
6,475636,9/3/2020,7/19/2023,9/3/2020,5/17/2024,9/3/2020,NaN,NaN,NaN,7/19/2023,NaN,NaN
7,475907,2/20/2020,11/15/2023,2/20/2020,11/28/2023,2/20/2020,7/2/2020,12/21/2022,NaN,11/15/2023,1/17/2020,1/17/2020
...,...,...,...,...,...,...,...,...,...,...,...,...
9638,569363,12/14/2023,10/30/2024,1/26/2024,6/24/2024,NaN,NaN,NaN,12/14/2023,10/30/2024,NaN,12/14/2023
9646,569449,12/21/2023,10/31/2024,1/25/2024,6/30/2024,NaN,NaN,NaN,12/21/2023,10/31/2024,NaN,12/21/2023
9688,570207,NaN,NaN,2/2/2024,6/30/2024,NaN,NaN,NaN,NaN,10/24/2024,NaN,NaN
9692,570254,1/4/2024,10/23/2024,2/12/2024,6/30/2024,NaN,NaN,NaN,1/4/2024,10/23/2024,NaN,1/4/2024
9714,570632,1/11/2024,10/29/2024,2/7/2024,6/30/2024,NaN,NaN,NaN,1/11/2024,10/29/2024,NaN,1/11/2024

In [110]:
#Create a function for progress category (to calc. new business rules)
def progress_category(entry_dq, exit_dq, entry_raw, exit_raw):
    if exit_dq < 78 and all(exit_raw <= entry_raw):
        return "a"
    elif exit_dq < 78 and exit_dq <= entry_dq and any(exit_raw > entry_raw):
        return "b"

#NEXT STEPS: finish function for progress_category

KeyError: 'Entry_DQ'